* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
  text-align: center;
}

h2:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  margin: 8px auto 30px;
}

/* ヘッダー */

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.header-group {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.header-group > :first-child {
  margin-right: auto;
}

.logo {
  width: auto;
  height: 70px;
}

.nav-list {
  list-style: none;
  display: inline-block;
  line-height: 70px;
  font-size: 16px;
  color: #FAFAFA;
  margin: 0px 30px;
}

.nav-list a {
  color: #FAFAFA;
  text-decoration: none;
}

/* メインビジュアル */

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  color:#FAFAFA;
}

.mv-title {
  font-size: 64px;
  padding-top: 200px;
}

.mv-text {
  font-size: 20px;
  padding-top: 10px;
}

/* ポートフォリオ */

#portfolio {
  background-color: #ECEFF1;
}

main p {
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.portfolio-box {
  width: 920px;
  margin: 0 auto;
}

.production-group {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 0px 90px;
}

.production {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 10px 10px 0px 0px;
}

.production:nth-child(-n+3) {
  margin-top: 0px;
}

.production:nth-child(3n) {
  margin-right: 0px;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
}

.bg-4 {
  background-image: url(img/webcamp.png);
}

.bg-5 {
  background-image: url(img/talk.jpg);
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
}

/* 特徴 */

.feature-box {
  width: 980px;
  margin: 0 auto;
}
.strength-group {
  display: flex;
  width: 980px;
  margin: 30px auto 90px;
}

.strength-box {
  width: 320px;
  margin-right: 10px;
  font-size: 60px;
  text-align: center;
}

h3 {
  font-size: 20px;
  color: #000000;
  margin: 10px 0px;
}

.strength-box > p {
  text-align: left;
}

/* プロフィール */

#profile {
  background-color: #ECEFF1;
}

.profile-box {
  width: 1024px;
  margin: 0 auto;
}

.profile-group {
  display: flex;
  padding: 30px 0px 90px;
}

.profile-img {
  width: 250px;
  height: 250px;
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
  margin: 0 auto;
}

.left-content {
  width: 512px;
}

.right-content {
  width: 512px;
}

.profile-title {
  margin: 20px 0px 5px 0px;
}

.right-content > p {
  text-align: left;
}

/* 問い合わせ */

.contact-box {
  width: 800px;
  margin: 0 auto;
}

.contact-group {
  display: flex;
  margin: 30px auto 90px ;
}

.left-contact-content {
  margin: 0 auto;
}

.right-contact-content {
  width: 400px;
  text-align: center;
}

.link-text {
  text-decoration: underline;
  color: #212121;
}

.sns {
  font-size: 50px;
  margin:5px 20px 0px 0px;
}


/* フッター */

footer {
  background-color: #EC715F;
  height: 60px;
}

.copyright {
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  line-height: 60px;
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {

  header {
    height: 50px;
  }

  .header-group {
    width: 90%;
    display: block;
  }

  .logo {
    width: auto;
    height: 50px;
  }

  .menu-box {

  }

  .list-bar {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #FAFAFA;
  }

}