* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ヘッダー */

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.header-group {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.header-group > :first-child {
  margin-right: auto;
}

.logo {
  width: auto;
  height: 70px;
}

.nav-list {
  list-style: none;
  display: inline-block;
  line-height: 70px;
  font-size: 16px;
  color: #FAFAFA;
  margin: 0px 30px;
}

/* メインビジュアル */

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  color:#FAFAFA;
}

.mv-title {
  font-size: 64px;
  padding-top: 200px;
}

.mv-text {
  font-size: 20px;
  padding-top: 10px;
}

/* ポートフォリオ */

#portfolio {
  background-color: #ECEFF1;
}

.portfolio-box {
  width: 920px;
  margin: 0 auto;
}

.portfolio-title {
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.portfolio-title:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  margin: 8px auto 30px;
}

.portfolio-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.production-group {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 0px 90px;
}

.production {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
}

.bg-4 {
  background-image: url(img/webcamp.png);
}

.bg-5 {
  background-image: url(img/talk.jpg);
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
}


/* フッター */

footer {
  background-color: #EC715F;
  height: 60px;
}

.copyright {
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  line-height: 60px;
}